:root {
  --color-text-primary: #111827;
  --color-text-secondary: #6b7280;
  --color-background-default: #f7f7f7;
  --color-background-paper: #ffffff;
  --color-background-hover: #f9fafb;
  --color-background-button: #f3f4f6;
  --color-background-button-hover: #e5e7eb;
  --color-primary-main: #000000;
  --color-primary-dark: #111827;
  --color-secondary-main: #fcd502;
  --color-divider: #e5e7eb;
  --color-border: #e5e7eb;
  --color-icon-default: #6b7280;
}

.amount-input-container.amount-input-container {
  width: 100%;
  height: 60px;
  background-color: var(--color-background-paper);
  border-radius: 12px;
  padding: 4px 8px;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  overflow: hidden;
  box-sizing: border-box;
}

@media (min-width: 600px) {
  .amount-input-container.amount-input-container {
    width: 190px;
  }
}

.editable-input-container {
  display: flex;
  align-items: center;
  background-color: var(--color-background-paper);
  border-radius: 8px;
  padding: 12px 16px;
  border: 1px solid var(--color-border);
  width: 100%;
  max-width: 390px;
  min-height: 70px;
}

.editable-input {
  flex: 1;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 16px;
  font-weight: 500;
  font-family:
    "SF Pro Text",
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
  color: var(--color-text-primary);
}

.editable-input::placeholder {
  color: var(--color-text-primary);
}

.requisite-card-divider.requisite-card-divider {
  display: flex;
  align-items: center;
}

.requisite-card-input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
}

.requisite-card {
  width: 100%;
  max-width: 390px;
}

.pen-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pen-icon-line {
  width: 12px;
  height: 1px;
  background-color: currentColor;
  margin-top: 2px;
}

.amount-input-value {
  display: flex;
  justify-content: center;
}

@media (max-width: 600px) {
  .editable-input-container {
    width: 100%;
    max-width: 100%;
  }

  .requisite-card {
    max-width: 100%;
  }

  .amount-input-container {
    width: 100% !important;
  }
}
